$font-icons-family-name: "IconsFont";
@font-face {
	font-family: "IconsFont";
	src: url('../fonts/IconsFont.eot');
	src: url('../fonts/IconsFont.eot?#iefix') format('eot'),
		url('../fonts/IconsFont.woff2') format('woff2'),
		url('../fonts/IconsFont.woff') format('woff'),
		url('../fonts/IconsFont.ttf') format('truetype'),
		url('../fonts/IconsFont.svg#IconsFont') format('svg');
}

@mixin icon-styles {
	font-family: "IconsFont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

$icon-name-arrow-down: "\E001"; 
$icon-name-arrow-left: "\E002"; 
$icon-name-arrow-right: "\E003"; 
$icon-name-arrow-top: "\E004"; 
$icon-name-basketball: "\E005"; 
$icon-name-check: "\E006"; 
$icon-name-circle: "\E007"; 
$icon-name-clock: "\E008"; 
$icon-name-close: "\E009"; 
$icon-name-football: "\E00A"; 
$icon-name-menu-close: "\E00B"; 
$icon-name-menu-open: "\E00C"; 
$icon-name-menu: "\E00D"; 
$icon-name-minus: "\E00E"; 
$icon-name-plus-circle: "\E00F"; 
$icon-name-plus: "\E010"; 
$icon-name-prev: "\E011"; 
$icon-name-racquet: "\E012"; 
$icon-name-user: "\E013"; 


@function icon-char($filename) {
	$char: "";

	@if $filename == arrow-down {
		$char: "\E001";
	}
	@if $filename == arrow-left {
		$char: "\E002";
	}
	@if $filename == arrow-right {
		$char: "\E003";
	}
	@if $filename == arrow-top {
		$char: "\E004";
	}
	@if $filename == basketball {
		$char: "\E005";
	}
	@if $filename == check {
		$char: "\E006";
	}
	@if $filename == circle {
		$char: "\E007";
	}
	@if $filename == clock {
		$char: "\E008";
	}
	@if $filename == close {
		$char: "\E009";
	}
	@if $filename == football {
		$char: "\E00A";
	}
	@if $filename == menu-close {
		$char: "\E00B";
	}
	@if $filename == menu-open {
		$char: "\E00C";
	}
	@if $filename == menu {
		$char: "\E00D";
	}
	@if $filename == minus {
		$char: "\E00E";
	}
	@if $filename == plus-circle {
		$char: "\E00F";
	}
	@if $filename == plus {
		$char: "\E010";
	}
	@if $filename == prev {
		$char: "\E011";
	}
	@if $filename == racquet {
		$char: "\E012";
	}
	@if $filename == user {
		$char: "\E013";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-arrow-down {
	@include icon(arrow-down);
}
.icon-arrow-left {
	@include icon(arrow-left);
}
.icon-arrow-right {
	@include icon(arrow-right);
}
.icon-arrow-top {
	@include icon(arrow-top);
}
.icon-basketball {
	@include icon(basketball);
}
.icon-check {
	@include icon(check);
}
.icon-circle {
	@include icon(circle);
}
.icon-clock {
	@include icon(clock);
}
.icon-close {
	@include icon(close);
}
.icon-football {
	@include icon(football);
}
.icon-menu-close {
	@include icon(menu-close);
}
.icon-menu-open {
	@include icon(menu-open);
}
.icon-menu {
	@include icon(menu);
}
.icon-minus {
	@include icon(minus);
}
.icon-plus-circle {
	@include icon(plus-circle);
}
.icon-plus {
	@include icon(plus);
}
.icon-prev {
	@include icon(prev);
}
.icon-racquet {
	@include icon(racquet);
}
.icon-user {
	@include icon(user);
}
