.img-xs {
    width: 10rem;
    height: 7.25rem;
    object-fit: cover;
    border-radius: .625rem;
}

.img-sm {
    height: 8rem;
    object-fit: cover;
    border-radius: .625rem;
}

.img-md {
    width: 100%;
    height: 9.5rem;
    object-fit: cover;
    border-radius: 1rem;
    @include media-breakpoint-down(md) {
        height: 6.625rem;
    }
}

.img-lg {
    width: 100%;
    height: 11.625rem;
    object-fit: cover;
    border-radius: 1.25rem;
    @include media-breakpoint-down(md) {
        height: 6.625rem;
    }
}

.img-xl {
    width: 100%;
    height: 45.75rem;
    object-fit: cover;
    border-radius: 240px 0 240px 0;
    @include media-breakpoint-up(xxxxl) {
        height: 70.75rem;
    }
}