p {
    font-size: 1rem;
    color: $dark-gray;
    margin-bottom: 0;
    line-height: 1.25;
    @include media-breakpoint-down(md) {
        font-size: .875rem;
    }
}

.text-white {
    color: $light-gray!important;
}

.text-secondary {
    color: $gray-202!important;
}

.text-muted {
    color: $dark-gray!important;
}

.text-bg-warning {
    color: $black!important;
    background-color: $yellow!important;
}

.text-success {
    color: $green!important;
}

.text-danger {
    color: $red!important;
}

.text-gradient-primary {
    background: $gradient-blue;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

@include media-breakpoint-down(md) {
    h1 {
        font-size: 1.875rem!important;
    }
    h2 {
        font-size: 1.375rem!important;
    }
    h3 {
        font-size: 1rem!important;
    }
    h4 {
        font-size: .875rem!important;
    }
}

// Loop through each breakpoint and each font size and produce the classes like fs-xx-n, ex: fs-lg-1
$breakpoint-font-sizes: (1: $h1-font-size, 2: $h1-font-size*0.9, 3: $h1-font-size*0.8, 4: $h1-font-size*0.7, 5: 1.875rem, 6: 1.55rem);
@each $breakpoint, $min-width in $grid-breakpoints {
    @each $size, $font-size in $breakpoint-font-sizes {
        .fs-#{$breakpoint}-#{$size} {
            @include media-breakpoint-up($breakpoint) {
                font-size: $font-size!important;
            }
        }
    }
}
