.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: $dark-gray;
    cursor: pointer;
}

textarea {
    resize: none;
}

.text-copyright {
    color: $dark-gray;
    font-size: .75rem;
}

.text-transform-none {
    text-transform: none;
}

.icon-style {
    background-color: $light-gray;
    width: 1.625rem;
    height: 1.625rem;
}

.icon-refresh-style {
    background-color: $light-gray;
    width: 1.938rem;
    height: 1.938rem;
    position: absolute;
    top: 1.125rem;
    left: 1.125rem;
}

.icon-gender-circle {
    width: 6.063rem;
    height: 6.063rem;
    &:hover {
        border: 1px solid $blue;
    }
}

.icon-edit-circle {
    width: 3.125rem;
    height: 3.125rem;
    &:hover {
        background: $gradient-blue;
    }
    .icon {
        color: $dark-gray;
        &:hover {
            color: $white;
        }
    }
}

.icon-photo-circle {
    background-color: $light-gray;
    width: 1.375rem;
    height: 1.375rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

.cld-video-player {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.rounded-top {
    border-top-right-radius: .625rem!important;
    border-top-left-radius: .625rem!important;
}

.rounded-3 {
    border-radius: .625rem!important;
}

.alert-dark {
    --bs-dark-text-emphasis: $dark-gray!important;
    --bs-alert-bg: rgba(27, 33, 41, 0.8)!important;
}

.py-7 {
    @include media-breakpoint-down(md) {
        padding-top: 5.5rem!important;
    }
}

.title {
    font-size: 1.5rem;
    @include media-breakpoint-down(sm) {
        font-size: 1.25rem;
    }
}

.fs-1 {
    @include media-breakpoint-down(sm) {
        font-size: 1.875rem!important;
    }
}

.fs-2 {
    font-size: 1.875rem!important;
}

.fs-3 {
    font-size: 1.5rem!important;
}

.fs-7 {
    @include media-breakpoint-down(sm) {
        font-size: .75rem!important;
    }
}

.bg-light-gray {
    background-color: $light-gray;
}

.bg-gradient-blue {
    background: $gradient-blue;
}

.bg-gradient-dark {
    background: $gradient-dark;
}

.bg-clip {
    background-clip: text;
}

.bg-black {
    background-color: $black;
}

.bg-dark {
    background-color: rgba(114, 124, 137, .2)!important;
}

.text-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.shadow-sm {
    filter: drop-shadow(0 10px 30px rgba(8, 15, 52, 0.06));
}

.border-primary-gradient {
    &:hover {
        border-style: dashed;
        border-width: 2px;
        border-image: linear-gradient(45deg, #1254FF, #2EF2FF) 1;
        border-radius: 250px 250px 0 250px;
    }
}

.border-yellow-gradient {
    &:hover {
        border-style: dashed;
        border-width: 2px;
        border-image: linear-gradient(45deg, #FFEA2A, #FFF8B7) 1;
        border-radius: 250px 250px 250px 0;
    }
}

.border-primary-hover {
    &:hover {
        background: $gradient-dark;
        border: 2px dashed $blue;
    }
}
.border-warning-hover {
    &:hover {
        background: $gradient-yellow;
        border: 2px dashed $yellow;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.row-cols-7>* {
    flex: 0 0 auto;
    width: 13.66%;
    @include media-breakpoint-between(sm, lg) {
        width: 33%;
    }
    @include media-breakpoint-down(sm) {
        width: 33%;
    }
}