a {
    text-decoration: none;
    color: $dark-gray;
    cursor: pointer;
}

textarea {
    resize: none;
}

.border-1 {
    border-width: .016rem!important;
}

.py-7 {
    @include media-breakpoint-down(md) {
        padding-top: 5.5rem!important;
    }
}

.title {
    font-size: 1.5rem;
    @include media-breakpoint-down(sm) {
        font-size: 1.25rem;
    }
}

.fs-1 {
    font-size: 1.5rem!important;
}

.fs-2 {
    @include media-breakpoint-down(sm) {
        font-size: .75rem!important;
    }
}