.btn {
    --bs-btn-font-size: 1.25rem;
    --bs-btn-padding-x: 2rem;
    --bs-btn-padding-y: 1.095rem;
    --bs-btn-border-radius: 1.875rem;
    --bs-btn-color: $light-gray!important;
    
    @include media-breakpoint-down(lg) {
        --bs-btn-font-size: 1rem;
        --bs-btn-padding-y: .91rem;
    }
}

.btn-primary {
    color: $light-gray!important;
    background: $gradient-blue!important;
    border: none;
}

.btn-outline-primary {
    font-size: .875rem;
    color: $light-gray!important;
    background: linear-gradient($black, $black) padding-box,
    linear-gradient(116.97deg, #1254FF -16.64%, #2EF2FF 154.41%) border-box;
    border-radius: 1.875rem;
    border: 1px solid transparent;
    padding: .7rem 1.5rem;
}

.btn-link {
    font-size: 1rem;
    padding: 0;
    @include media-breakpoint-down(lg) {
        font-size: .875rem;
    }
}

.btn-dark {
    --bs-btn-color: $light-gray;
    --bs-btn-hover-color: $light-gray;
    --bs-btn-font-size: .75rem;
}

.btn-close {
    --bs-btn-close-color: $white;
    --bs-btn-close-opacity: 1;
    width: .75rem;
    height: .75rem;
}

.footer {
    .btn-link {
        font-size: .875rem;
        color: $light-gray;
        padding: 0;
    }
}
