.btn {
    --bs-btn-font-size: 1.25rem;
    --bs-btn-padding-x: 2rem;
    --bs-btn-padding-y: 1.095rem;
    --bs-btn-border-radius: 1.875rem;
    --bs-btn-color: $light-gray!important;
    
    @include media-breakpoint-down(lg) {
        --bs-btn-font-size: 1rem;
        --bs-btn-padding-y: .91rem;
    }
}

.btn-primary {
    color: $light-gray!important;
    background: $gradient-blue!important;
    border: none;
    &.disabled {
        border: 1px solid $dark-gray!important;
        background: $black!important;
    }
}

.btn-outline-primary {
    font-size: .875rem;
    color: $light-gray!important;
    background: linear-gradient($black, $black) padding-box,
    linear-gradient(116.97deg, #1254FF -16.64%, #2EF2FF 154.41%) border-box;
    border-radius: 1.875rem;
    border: 1px solid transparent;
    padding: .7rem 1.5rem;
}

.btn-outline-muted {
    font-size: .875rem;
    color: $dark-gray;
    background: transparent;
    border-radius: 1.875rem;
    border: 1px solid $dark-gray;
    padding: .7rem 1.5rem;
    &:focus, &:hover, &:active {
        background:$gradient-blue;
        color: $white!important;
        border: 0;
    }
    @include media-breakpoint-down(lg) {
        padding: .625rem .85rem;
    }
}

.btn-secondary {
    font-size: .875rem;
    background-color: rgba(255, 255, 255, 0.3);
    color: $white;
    border-radius: 3.75rem;
    padding: .625rem;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.btn-check+.btn:hover {
    background: $gradient-blue;
}

.btn-group-vertical>.btn-check:checked+.btn, .btn-group-vertical>.btn-check:focus+.btn, .btn-group-vertical>.btn.active, .btn-group-vertical>.btn:active, .btn-group-vertical>.btn:focus, .btn-group-vertical>.btn:hover, .btn-group>.btn-check:checked+.btn, .btn-group>.btn-check:focus+.btn, .btn-group>.btn.active, .btn-group>.btn:active, .btn-group>.btn:focus, .btn-group>.btn:hover {
    background: $gradient-blue;
    color: $white;
    border-color: $blue;
}

.btn-link {
    font-size: 1rem;
    padding: 0;
    @include media-breakpoint-down(lg) {
        font-size: .875rem;
    }
}

.btn-dark {
    --bs-btn-color: $light-gray;
    --bs-btn-hover-color: $light-gray;
    --bs-btn-font-size: .75rem;
}

.btn-close {
    --bs-btn-close-color: $white;
    --bs-btn-close-opacity: 1;
    width: .75rem;
    height: .75rem;
    z-index: 1;
    &.btn-position {
        position: absolute;
        top: 1.75rem;
        right: 1.25rem;
    }
}

.footer {
    .btn-link {
        font-size: .875rem;
        color: $light-gray;
        padding: 0;
    }
}
