.form-control {
    color: $black;
    &::placeholder {
        font-size: 1rem;
    }
    &:focus {
        background-color: $light-gray;
        color: $black;
        box-shadow: none;
    }
    @include media-breakpoint-down(md) {
        padding: .85rem 1.5rem;
    }
}

.form-label {
    font-size: 1rem;
    color: $light-gray;
    margin-bottom: 1.125rem;
    @include media-breakpoint-down(md) {
        margin-bottom: .75rem;
    }
}

.invalid-feedback {
    font-weight: 300;
    @include media-breakpoint-down(md) {
        font-size: .75rem;
    }
}

.form-control.is-invalid,
.was-validated .form-control:invalid,
.form-control.is-valid,
.was-validated .form-control:valid  {
    background-image: none;
    padding: $input-padding-x $input-padding-y;
    @include media-breakpoint-down(md) {
        padding: .85rem 1.5rem;
    }
}

.dark-form {
    .form-control {
        color: $light-gray;
        background-color: $dark-blue;
        border-color: $dark-blue;
        border-radius: .563rem;
        &:focus {
            background-color: $dark-blue;
            color: $light-gray;
        }
        font-size: .875rem;
        padding: $input-padding-x $input-padding-y;
        &::placeholder {
            font-size: .875rem;
            color: $gray-158;
        }
        @include media-breakpoint-down(md) {
            padding: .85rem 1.5rem;
        }
    }
}
