.modal-backdrop {
    background: rgba(15, 18, 23, .7);
    &.show {
        opacity: initial;
    }
}

.modal-dialog {
    padding-top: 5rem;
    .modal-content {
        padding: .625rem 1.5rem 2.313rem 1.5rem;
        --bs-modal-border-radius: 1.25rem;
        .modal-title {
            font-size: .875rem;
            color: $white;
        }
    }
}

.modal-sm {
    --bs-modal-width: 343px;
}

.modal-decor {
    position: absolute;
    top: 0;
    right: 0;
}

.modal-img-top{
    border-top-right-radius: 1.2rem;
    border-top-left-radius: 1.2rem;
}