.recaptcha-style {
    transform: scale(1);
    -webkit-transform: scale(1);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    height: 15vh;
    @include media-breakpoint-down(md) {
        transform: scale(0.83);
        -webkit-transform: scale(0.83);
        height: 10vh;
    }
}